@using Trava.Pages
@inject TranslationService Translation
@inject TextToSpeechService TTS

<span class="hoverspace" @onclick="ReadAloud" @onmouseover="GetTranslation">
    <span class="term @GetCSSColor()">@Lemma.DisplayText</span>
    <div class="popup">
        @if(HoverLoaded)
        {
            @if(Term != null)
            {
                <span><small>@Lemma.PartOfSpeech.ToString()</small></span>
                
                string description = GetDescription();

                if(!string.IsNullOrEmpty(description))
                {
                    <span><small> (@description)</small></span>
                }

                <br>
                <span><strong>@Lemma.NormalForm</strong>  ← @Lemma.DisplayText</span>
                <hr style="margin: 0; padding:0;">
                string[] definitions = Term.Translation.Split(";");
                foreach (string definition in definitions)
                {
                    if(!string.IsNullOrEmpty(definition))
                    {
                        <span>• @definition</span><br>
                    }
                }
            }
            else
            {
                <span><strong><i>unknown term</i></strong></span>
            }
        }
    </div>
</span>

<style>
    .yellow { background-color: #FFFF77; }      
    .red { background-color: #FFAE77; }    
    .green { background-color: #AEFF77; }
    .blue { background-color: #77C9FF; } 
    .purple { background-color: #C977FF; } 
    .pink { background-color: #FF77E4; } 
    .tan { background-color: #FFEDCC; }      
</style>

@code 
{
    [Parameter, EditorRequired] public RussianLemma Lemma { get; set; }
    [Parameter, EditorRequired] public Home.HighlightTypes SelectedHighlight { get; set; }

    bool HoverLoaded = false;
    RussianTerm Term = null!;

    public void GetTranslation()
    {
        //if(!HoverLoaded)
            Term = Translation.ConvertToTerm(Lemma);
        HoverLoaded = true;
    }

    public string GetDescription()
    {
        if(Term is RussianNoun noun)
            return Lemma.GetNounDescription();

        if(Term is RussianAdjective adjective)
            return Lemma.GetAdjectiveDescription();

        if(Term is RussianVerb verb)
            return Lemma.GetVerbDescription();

        return "";
    }

    public async Task ReadAloud()
    {
        try
        {
            await TTS.SpeakAsync($"{Lemma.DisplayText}, и в словаре - {Lemma.NormalForm}");
            await TTS.SpeakAsync($"This is a {GetDescription()} {Lemma.PartOfSpeech}, which translates to - {Term.Translation.Replace(",", " - or  ").Replace(";", " - and also - ")}", true);
        }catch
        {
           //TTS.Speak("There has been an error.", true);
        }
    }

    public string GetCSSColor()
    {
        if(SelectedHighlight == Home.HighlightTypes.None)
            return "";

        if(SelectedHighlight == Home.HighlightTypes.PartsOfSpeech)
            return Lemma.PartOfSpeech switch
            {
                PartOfSpeechType.Noun => "yellow",
                PartOfSpeechType.Verb => "red",
                PartOfSpeechType.Adjective => "green",
                PartOfSpeechType.Unknown => "",
                _ => "tan"
            };

        if(SelectedHighlight == Home.HighlightTypes.NounCase)
        {
            if(Lemma.PartOfSpeech != PartOfSpeechType.Unknown)
            {
                return Lemma.NounCase switch
                {
                    NounCaseType.Nominative => "yellow",
                    NounCaseType.Accusative => "red",
                    NounCaseType.Genitive => "green",
                    NounCaseType.Prepositional => "blue",
                    NounCaseType.Instrumental => "purple",
                    NounCaseType.Dative => "pink",
                    _ => "tan"
                };
            }
        }

        return "";
    }
}
